:root {
    --azul-bisonte: #02318b;
    --gris-bisonte:#a8a7a7;
    --rojo-bisonte: #751314;
    --azul-bisonte-barralateral: #223e72;
    --bisonte-barralateralderecha: #460b0c;
    --bisonte-rojizo-Letras: #440808;
    --gris-Generico-tabla: #dee2e6;
    --gris-Generico: #495057;
    --azul-bisonteObscuro: #01215c;
  }